{
  "extends": "airbnb-base",
  "env": {
    "browser": true,
    "es2021": true
  },
  "rules": {
    "no-console": "off",
    "no-underscore-dangle": ["error", { "allow": ["_id"] }],
    "linebreak-style": "off",
    "consistent-return": "off"


  }
}
